# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 11

In [2]:
num_1

11

#### 2. asign any number of type float to the variable "num_2"

In [3]:
num_2 = 11.5

In [4]:
num_2

11.5

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [6]:
total = (num_1 + num_2)

In [7]:
total

22.5

#### 4. check the type of variable "total"

In [8]:
type(total)

float

#### 5. assign variable "height" with your height

In [9]:
height = 178

In [10]:
height

178

#### 6. asign variable "mass" with your weight

In [11]:
mass = 65

In [12]:
mass

65

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [17]:
bmi = mass / (height**2)

In [18]:
bmi

0.0020515086478979927

#### 8. print value from "bmi" variable

In [19]:
print(bmi)

0.0020515086478979927

In [20]:
bmi

0.0020515086478979927

# String

#### 1. Create variable "name" with your first name

In [46]:
name = 'Hamid'

In [22]:
name

'Hamid'

#### 2. Create variable "surname" with your surname

In [23]:
surname = 'Pasha'

In [24]:
surname

'Pasha'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [49]:
name_surname = name + ' ' + surname

In [50]:
name_surname

'Hamid Pasha'

#### 4. print variable "name_surname"

In [51]:
name_surname

'Hamid Pasha'

#### 5. print first letter from variable "name_surname"

In [45]:
name_surname[0]

'H'

#### 6. print your name (without enmpty space) from variable "name_surname"

In [55]:
name_surname[0:5]

'Hamid'

#### 7. print your surname 10x (use variable surname)

In [64]:
print (surname * 10)

PashaPashaPashaPashaPashaPashaPashaPashaPashaPasha

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [66]:
greeting = 'Hello my name is ' + name_surname

In [67]:
print(greeting)

Hello my name is Hamid Pasha

#### 9. print "message" variable

In [68]:
print(greeting)

Hello my name is Hamid Pasha

## List

#### 1. create empty list with name "empty_list"

In [69]:
empty_list = []

#### 2. create list "heights" with five random values

In [ ]:
heights = [150, 160, 170, 180]

In [71]:
print(heights)

[150, 160, 170, 180]

#### 3. print heights

In [72]:
print(heights)

[150, 160, 170, 180]

#### 4. print type of variable "heights"

In [73]:
type(heights)

list

#### 5. print second value from "heights"

In [74]:
heights[1]

160

#### 6. assign last three values from "heights" to another list "heights_2"

In [84]:
heights_2 = heights[1:]

#### 7. print "heights_2"

In [85]:
print(heights_2)

[160, 170, 180]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [86]:
list_all = heights + heights_2

#### 9. print "list_all"

In [87]:
print(list_all)

[150, 160, 170, 180, 160, 170, 180]

#### 10. print the type of "list_all"

In [88]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [90]:
empty_tuple = ()

In [91]:
print(empty_tuple)

()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [93]:
empty_tuple.insert(0, 'Hamid')

AttributeError: 'tuple' object has no attribute 'insert'

#### 3. According to question number 2, what is the main difference between list and tuple?

In [ ]:
Lists are mutable, byt tuples are immutable

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [95]:
empty_dict = {}

In [96]:
print(empty_dict)

{}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [97]:
heights_dict = {
    'Hamid' : '178cm'
}

#### 3. asign another name and height to "heights_dict"

In [98]:
heights_dict['Pasha'] = '179cm'

In [99]:
print(heights_dict)

{'Hamid': '178cm', 'Pasha': '179cm'}

#### 4. print "heights_dict" dictionary

In [101]:
print(heights_dict)

{'Hamid': '178cm', 'Pasha': '179cm'}

#### 5. print your height from the "heights_dict" dictionary

In [103]:
heights_dict['Hamid']

'178cm'

#### 6. print all values from "heights_dict" dictionary

In [104]:
print(heights_dict)

{'Hamid': '178cm', 'Pasha': '179cm'}

In [105]:
heights_dict.values()

dict_values(['178cm', '179cm'])

#### 7. print all keys from "heights_dict" dictionary

In [107]:
heights_dict.keys()

dict_keys(['Hamid', 'Pasha'])